/* 인코딩시 한글이 깨지지 않게 */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap');

/* font-family: 'Montserrat', sans-serif; */
  body{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
    color: #333;
  }
  .wrap{
    width: 100%;
    overflow: hidden;
  }

  /* header */
  header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #213135;
    color: #fff;
    padding: 40px 0 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  /* z-index는 0에서 십만까지 가능한데 클수록 우선순위가 높아짐 */
  header .inner{
    width: 90%;
    margin: 0 auto;
  }
  header .inner .logo{
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
  }
  header .inner .gnbBtn{
    display: block;
    float: left;
    width: 32px;
    height: 12px;
    position: relative;
    margin-top: 15px;
  }
  header .inner .gnbBtn span{
    background: #fff;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
  }
  header .inner .gnbBtn span.a{
    top: 0;
  }
  header .inner .gnbBtn span.b{
    bottom: 0;
  }
  header .inner .contact{
    display: block;
    float: right;
    margin-top: 10px;
  }


/* contents */
.contents{
    background: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}
.contents .visual{
    width: 100%;
    height: 100vh;
    position: relative;
}
.contents .visual .waves{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}
/* object-fit : img나  video등의 컨텐츠 크기를 맞추는 방식
    cover : 가로 세로비를 유지하면서 요소 컨텐츠박스를 가득채움. 
            가로 세로비가 맞지 않을 경우 객체 일부가 잘려나감.
*/
.contents .visual .title{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 70px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* inner > 전체 레이아웃 넓이 공통부분 */
.inner{
    width: 1400px;
    margin: 0 auto;
}
/* text > 텍스트 공통부분 */
.text .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}
.text p{
    font-size: 35px;
    line-height: 1.2;
    margin: 40px 0;
}
.text a{
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s;
}
.text a:hover,
.text a:focus{
    border: 1px solid transparent;
    border-bottom: 1px solid #333;
    border-radius: 0;
    padding: 5px 18px;
    transition: all 0.2s;
    /* background: #f2f0eb; */
}

section.about{
    background: #f2f0ed;
    padding: 100px 0;
}
section.about .inner .text p{
    font-size: 45px;
}


/* section.approach */
section.approach{
    padding: 100px 0;
}
section.approach .inner{
    position: relative;
}
section.approach .inner .list{
    width: 48%;
}
section.approach .inner .list li{
    margin-bottom: 30px;
}
section.approach .inner .list li:last-child{
    margin-bottom: 0;
}
section.approach .inner .list li a{
    display: block;
    width: 100%;
    height: 100%;
}
section.approach .inner .list li a img{
    width: 100%;
    border-radius: 10px;
}
section.approach .inner .fix{
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 0;
}
section.approach .inner .fix .text{
    position: absolute;
    bottom: 10%;
}
section.approach .inner .fix .text.on{
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
}


/* section.sectors */
section.sectors{
  background: #f2f0eb;
  padding: 100px 0 230px;
  position: relative;
  margin-bottom: 260px;
}
section.sectors .list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -160px;
}
section.sectors .list li{
  width: 31%;
  border-radius: 15px;
  overflow: hidden;
}
section.sectors .list li a{
  position: relative;
}
section.sectors .list li a img{
  width: 430px;
  height: 300px;
  filter: brightness(60%);
  transition: all 0.4s;
}
section.sectors .list li a h3{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  transition: all 0.4s;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
}
section.sectors .list li a img:hover,
section.sectors .list li a img:focus
{
  filter: brightness(70%);
  transition: all 1s;
  transform: scale(1.2);
}
section.sectors .list li a:hover h3,
section.sectors .list li a:focus h3{
  letter-spacing: 3px;
  transition: all 0.6s;
}


/* section.service */
section.service{
  padding: 100px 0;
}
section.service .inner{
  overflow: hidden;
}
section.service .img{
  width: 48%;
  float: left;
  border-radius: 10px;
  overflow: hidden;
}
section.service .img img{
  width: 100%;
}
section.service .text{
  width: 45%;
  float: right;
}


/* section.journal */
section.journal{
  background: #f2f0ed;
  padding: 350px 0 200px;
  margin-top: -250px;
  font-family: 'Montserrat', sans-serif;
}
section.journal h2{
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}
section.journal .list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.journal .list li{
  width: 330px;
}
section.journal .list li a{
  display: block;
}
section.journal .list li a .img{
  border-radius: 10px;
  overflow: hidden;
}
section.journal .list li a .img img{
  width: 330px;
  height: auto;
}
section.journal .list li a h3{
  font-size: 15px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}
section.journal .list li:nth-child(3) a p{
  margin-top: -10px;
}
section.journal .list li a p{
  font-size: 16px;
  line-height: 1.4;
  display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  letter-spacing: -0.6px;
}


/* footer */
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #213135;
  color: #fff;
  padding: 75px 0;
  box-sizing: border-box;
  z-index: -1;
}
footer .inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}
footer .inner .footerLogo{
  font-size: 50px;
  font-weight: bold;
}
footer .inner .contact{
  width: 30%;
  line-height: 1.4;
  margin-top: 10px;
}
footer .inner .sns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .inner .sns li{
  margin: 0 40px;
  font-size: 17px;
  font-weight: bold;
}